RewriteEngine on
CGIPassAuth on
Allow from all

<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin: *  
  Header set Access-Control-Allow-Credentials: true
  Header set Access-Control-Allow-Headers: Authorization
</IfModule>

RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ api-server/$1 [L,QSA]

RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* api-server/ [L]

ErrorDocument 403 "teste"